/*
=============== 
Fonts
===============
*/

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Rosario:ital,wght@0,300..700;1,300..700&display=swap");

/*
=============== 
variables
===============
*/
:root {
	--clr-primary: #d49b6b;
	--clr-light: #fdf4e8;
	--clr-dark: hsl(88, 9%, 29%);
	--clr-black: #222;
	--clr-grey: hsl(210, 36%, 96%);
	--ff-decorative: "Dancing Script", cursive;
	--ff-secondary: "Rosario", sans-serif;
	--ff-primary: "DM Sans", sans-serif;
	--transition: all 0.3s linear;
	--spacing: 0.25rem;
	--radius: 0.5rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	--max-width: 1170px;
	--fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

html {
	scroll-behavior: smooth;
}

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 0;
}
#banner {
	overflow: hidden;
	background-color: var(--clr-grey);
	height: 30rem;
}

ul {
	width: 100vw;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--clr-light);
}

li {
	float: left;
}

li a {
	font-family: var(--ff-secondary);
	display: block;
	color: white;
	text-align: center;
	padding: 0.875rem 1rem;
	color: var(--clr-black);
	text-decoration: none;
	font-size: 12px;
}

.active {
	background-color: papayawhip;
}

/*
=============== 
about us
===============
*/

.hero {
	position: relative;
	width: 100vw;
	height: 105vh;
	padding-top: 2rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #8d99ae;
}
@keyframes reveal {
	from {
		opacity: 0;
		clip-path: inset(0% 60% 0% 50%);
	}
	to {
		opacity: 1;
		clip-path: inset(0% 0% 0% 0%);
	}
}

.hero img {
	animation: auto linear reveal both;
	animation-timeline: view();
	animation-range: entry 25% cover 50%;
	width: 80%;
	height: 30rem;
}
.hero .hero_title {
	width: 80%;
	height: 25%;
	padding: 6% 8%;
	font-family: var(--ff-primary);
	font-size: medium;
}

.quote {
	font-size: 2rem;
	color: #8d99ae;
	font-family: var(--ff-decorative);
	width: 92%;
	line-height: 75%;
	text-align: center;
	padding: 1rem 0;
}
.hero:nth-child(3) {
	background-color: #edf5f7;
}
.bride-title {
	font-family: var(--ff-decorative);
	font-size: 4.2rem;
	text-align: center;
	color: var(--clr-light);
}
.groom-title {
	font-family: var(--ff-decorative);
	font-size: 4.2rem;
	text-align: center;
	color: #cba135;
}

.timeline {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.timeline img {
	margin-top: 6%;
	width: 80%;
}

.timeline-title {
	width: 75%;
	background-color: #edf5f7;
	font-family: var(--ff-primary);
	font-size: medium;
	padding: 6% 8%;
}
h3 {
	color: #cba135;
}
